@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
  --darkGrey: #505050;
  --lightGrey: #6f6f6f;
  --componentBackground: #e5e5e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);
  --color-darkGrey: var(--darkGrey);
  --color-lightGrey: var(--lightGrey);
  --color-componentBackground: var(--componentBackground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-montserrat), sans-serif;
}
